.AddProduct{
    /* border: 2.5px rgb(244, 244, 244) solid; */
    display: flex;
    flex-direction: column;
   
    padding: 40px 60px;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.15);
    gap: 25px;
    height: fit-content;
    border-radius: 10px;
}

.AddProduct > input{
    font-size: 20px;
}
